@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=latin-ext');

html {
  min-height: 100%;
}

body {
  background-color: $c-color-background-body;
  color: $c-color-primary;
  font-size: em(16px);
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

@media print {
  * {
    @include box-shadow(unset);
  }
  body {
    color: black;
    background-color: white;
  }
  img {
    @include grayscale_element(100%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

.mh-100-vh {
  min-height: 100vh;
}
