.a-headers {

  &--thin {
    font-weight: 200;
  }

  &__page-title {
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1.5rem;
  }

  &__section-title {
    background-color: $c-color-neutral;
    padding: 10px 0px;
    margin-top: 1.5rem;

    & > div {
      display: flex;
      align-items: center;
    }

    h5 {
      display: inline;
      margin-left: 1rem;
    }
  }

  &__side-section-title {
    .col {
      text-align: center;

      & div:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }
}
