.a-link {
  color: $c-color-primary;
  text-decoration: underline;
  @include transition('all', 300, 'ease');

  &:hover {
    color: tint-color($c-color-secondary);
  }
}

@media print {
  a:not(.btn), .a-link {
    color: black;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }
}
