$c-color-primary: #2c3e50;
$c-color-accent: #db0a5b;
$c-color-light: #ffffff;
$c-color-neutral: #e8e8e8;
$c-color-secondary: #67809f;
$c-color-background-body: $c-color-neutral;

$browser-context-rem: 16px;
