<div class="container mh-100-vh c-cv">
  <div class="row mh-100-vh">
    <!--SMALL DISPLAY CONTENT-->
    <div class="col-md d-sm-block d-md-none d-print-none o-right-side pt-5 pb-5">
      <ng-template *ngTemplateOutlet="header; context: {user: user, cv: cv}"></ng-template>
    </div>

    <!-- LEFT SIDE CONTENT -->
    <div class="col-md c-cv__left-side d-flex flex-column align-items-center py-5 px-5">

      <img src="{{ user.image }}"
           alt="Pavlo Sherin image"
           class="img-thumbnail c-cv__profile-photo mb-5">

      <ng-container *ngIf="user.address">
        <div class="a-headers text-center mt-5">
          <ng-container
            *ngTemplateOutlet="iconHeader; context: {icon: 'fas fa-map-marker-alt', header: 'Address', position: {shrink: 2, right: 0.5, up: 0.5, down: 0, left: 0}, sectionClass: 'a-headers__side-section-title'}">
          </ng-container>
        </div>
        <p class="text-center mt-2" [innerHTML]="user.address"></p>
      </ng-container>

      <ng-container *ngIf="user.about">
        <div class="a-headers text-center mt-5">
          <ng-container
            *ngTemplateOutlet="iconHeader; context: {icon: 'far fa-smile', header: 'About Me', position: {shrink: 2, right: 1.4, up: 0.5, down: 0, left: 0}, sectionClass: 'a-headers__side-section-title'}">
          </ng-container>
        </div>
        <p class="text-justify mt-2" [innerHTML]="user.about"></p>
      </ng-container>

      <div class="a-headers text-center mt-5">
        <ng-container
          *ngTemplateOutlet="iconHeader; context: {icon: 'fas fa-user-cog', header: 'Skills', position: {shrink: 2, right: 1.5, up: 0.8, down: 0, left: 0}, sectionClass: 'a-headers__side-section-title'}">
        </ng-container>
      </div>
      <div *ngIf="cv.skills && cv.skills.length > 0" class="d-block w-100 mt-3 m__skills">
        <ng-container *ngFor="let skillItem of cv.skills">
          <ng-template
            *ngTemplateOutlet="skill; context: {header: skillItem.skill, value: skillItem.percentage}"></ng-template>
        </ng-container>
      </div>

    </div>

    <!-- RIGHT SIDE CONTENT -->
    <div class="col o-right-side pb-5 py-md-5 pl-4">

      <!-- header -->
      <div class="d-none d-md-block d-print-block">
        <ng-template *ngTemplateOutlet="header; context: {user: user, cv: cv}"></ng-template>
      </div>
      <!-- end header -->

      <!-- work timeline -->
      <ng-template
        *ngTemplateOutlet="iconHeader; context: {icon: 'fas fa-briefcase', header: 'Work', position: {shrink: 2, right: 0.8, up: 0.8, down: 0, left: 0}, sectionClass: 'a-headers__section-title'}">
      </ng-template>
      <div class="m-timeline mt-3 pr-4">
        <ng-container *ngFor="let work of cv.workLog">
          <ng-template
            *ngTemplateOutlet="timelineItem; context: {dateFrom: work.dateFrom, dateTo: work.dateTo, content: work.text, company: work.company}"></ng-template>
        </ng-container>
      </div>
      <!-- end work timeline -->

      <!-- education timeline -->
      <ng-template
        *ngTemplateOutlet="iconHeader; context: {icon: 'fas fa-user-graduate', header: 'Education', position: {shrink: 2, right: 0.8, up: 0.8, down: 0, left: 0}, sectionClass: 'a-headers__section-title'}">
      </ng-template>
      <div class="m-timeline mt-3 pr-4">
        <ng-container *ngFor="let education of cv.educationLog">
          <ng-template
            *ngTemplateOutlet="timelineItem; context: {dateFrom: education.dateFrom, dateTo: education.dateTo, content: education.text, company: education.school}"></ng-template>
        </ng-container>
      </div>
      <!-- end education timeline -->

      <!-- languages -->
      <ng-template
        *ngTemplateOutlet="iconHeader; context: {icon: 'fas fa-language', header: 'Languages', position: {shrink: 2, right: 0.8, up: 0, down: 0.3, left: 0}, sectionClass: 'a-headers__section-title'}">
      </ng-template>
      <div class="row mt-3">
        <div *ngFor="let language of cv.languages" class="col-sm text-left text-lg-center">
          <div class="d-inline d-sm-block font-weight-bolder">{{language.language}}</div>
          <div class="d-inline d-sm-block ml-3 ml-sm-0">{{language.level}}</div>
        </div>
      </div>
      <div class="row text-right mt-3 pr-4">
        <div class="col small">According to <a
          href="https://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages"
          target="_blank" title="Common European Framework of Reference for Languages"
          class="a-link">CEFRL</a></div>
      </div>
      <!-- end languages -->

      <!-- interests -->
      <ng-template
        *ngTemplateOutlet="iconHeader; context: {icon: 'fas fa-snowboarding', header: 'Hobbies', position: {shrink: 2, right: 0.2, up: 0, down: 0.8, left: 0}, sectionClass: 'a-headers__section-title'}">
      </ng-template>
      <div class="row mt-3 pr-4">
        <div class="col">{{cv.hobbies.join(' - ')}}</div>
      </div>
      <!-- end interests -->

    </div>
  </div>
</div>

<ng-template #iconHeader let-icon="icon" let-header="header" let-position="position"
             let-sectionClass="sectionClass">
  <div class="row {{sectionClass}} mt-4">
    <div class="col">
      <div class="fa-layers fa-2x fa-fw" style="font-size: 1.6rem;">
        <i class="fas fa-lg fa-circle"></i>
        <i class="fa-inverse fa-sm {{icon}}"
           attr.data-fa-transform="shrink-{{position.shrink}} right-{{position.right}} up-{{position.up}} down-{{position.down}} left-{{position.left}}">
        </i>
      </div>
      <div><h5 class="text-uppercase">{{header}}</h5></div>
    </div>
  </div>
</ng-template>

<ng-template #header let-user="user" let-cv="cv">
  <h1 class="a-headers__page-title a-headers--thin text-uppercase ">{{cv.position}}</h1>
  <h1 class="a-headers__name text-uppercase">{{user.titleBefore ? user.titleBefore + ' '
    : ''}}{{user.firstName}} {{user.secondName}}{{user.titleAfter ? ' ' + user.titleAfter
    : ''}}</h1>
  <div class="row a-headers__contact a-headers--thin mt-4 mt-md-0">
    <div class="col d-lg-flex justify-content-between">
      <div>{{user.phone}}</div>
      <div><a class="a-link" href="mailto:{{user.email}}">{{user.email}}</a></div>
      <div><a class="a-link" href="{{user.web.href}}">{{user.web.display}}</a></div>
    </div>
  </div>
</ng-template>

<ng-template #skill let-header="header" let-value="value">
  <h3 class="a-headers__skill text-center mb-1 mt-2">{{header}}</h3>
  <div class="progress">
    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': value + '%'}"
         attr.aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
</ng-template>

<ng-template #timelineItem let-content="content" let-dateFrom="dateFrom" let-dateTo="dateTo"
             let-company="company">
  <div class="row no-gutters">
    <div class="col-2 text-right d-none d-lg-block">
      <div class="m-timeline__company mb-2">{{ company }}</div>
      <div class="m-timeline__date">{{ dateTo }}</div>
      <div class="m-timeline__date">{{ dateFrom }}</div>
    </div>
    <div class="col">
      <ul class="m-timeline__content text-justify">
        <div class="d-inline-block d-lg-none">
          <span class="m-timeline__company mt-2">{{ company }} </span>
          <span class="m-timeline__date">({{ dateTo }} - {{ dateFrom }})</span>
        </div>
        <li [innerHTML]="content"></li>
      </ul>
    </div>
  </div>
</ng-template>
