@import "../../../00_settings/vars";
@import "../../../01_tools/functions";
@import "../../../02_base/base";

@media print {
  @page {
    size: A4 portrait;
    max-height: 100%;
    max-width: 100%
  }
  .c-cv {
    margin: unset !important;
    font-size: 11pt;

    &__left-side {
      color: black;
      background-color: white;

      .fa-inverse {
        color: white;
      }
    }

    .a-headers {
      &__page-title {
        color: grey;
        margin-bottom: unset;
      }
      &__name {
        font-size: 2.5rem;
      }
      &__contact {
        white-space: nowrap;
      }
      &__skill {
        font-size: 1.1rem;
      }
    }

    .m-timeline {
      &__content {

        li:before {
          background-color: white;
          border: 2px solid black;
        }

        &:before {
          background: black;
        }
      }
    }

    .m__skills .progress {
      background-color: lighten(black, 90);

      .progress-bar {
        background-color: black;
      }
    }
  }
}
