@import "../../../00_settings/vars";
@import "../../../01_tools/functions";
@import "../../../02_base/base";

@media (max-width: 1024px) {
  .container {
    max-width: 100% !important;
  }
}
@media (min-width: 1024px) {
  .c-cv {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .c-cv {
    &__left-side {
      -ms-flex: 0 0 350px;
      flex: 0 0 350px;
    }
  }
}

.c-cv {
  background-color: $c-color-light;

  .a-headers {
    &__page-title {
      color: tint-color($c-color-secondary);
      margin-bottom: unset;
    }
    &__name {
      font-size: 2.5rem;
    }
    &__contact {
      white-space: nowrap;
    }
    &__skill {
      font-size: 1.1rem;
    }
  }

  .m-timeline {

    *:first-of-type .m-timeline__content:before {
      margin-top: 10px;
    }

    &__content {
      list-style-type: none;

      li:before {
        content: "";
        position: absolute;
        left: 13.5px;
        top: 5px;
        width: 15px;
        height: 15px;
        background-color: $c-color-light;
        border: 2px solid $c-color-primary;
        @include round-border(50%)
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 20px;
        bottom: 0;
        width: 2px;
        background: $c-color-primary;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    &__date {
      font-weight: lighter;
    }

    &__company {
      font-weight: bolder;
    }
  }

  .m__skills .progress {
    @include round-border(0);
    background-color: shade-color($c-color-primary);

    .progress-bar {
      background-color: $c-color-light;
    }
  }

  &__left-side {
    color: $c-color-light;
    background-color: $c-color-primary;

    .fa-inverse {
      color: $c-color-primary;
    }
  }

  &__profile-photo {
    @include round-border(50%);
    width: 220px;
    height: auto;
    border: 2px solid $c-color-light;
  }
}
