@mixin box-shadow($top, $left: $top, $blur: $top, $color: $top, $inset: false) {
  @if ($top == unset) {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  } @else if ($inset) {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin round-border(
  $radius: 0,
  $right-top: $radius,
  $right-bottom: $radius,
  $left-bottom: $radius
) {
  -webkit-border-radius: $radius $right-top $right-bottom $left-bottom;
  -moz-border-radius: $radius $right-top $right-bottom $left-bottom;
  border-radius: $radius $right-top $right-bottom $left-bottom;
}

/// @param {string} $property - possible values are: all, background, color, height, width, outline
/// @param {number} $duration-in-ms - duration of transition in milliseconds
/// @param {string} $function - possible values are: ease, linear, ease-in, ease-out, ease-in-out
@mixin transition(
  $property,
  $duration-in-ms,
  $function
) {
  -webkit-transition: $property #{$duration-in-ms}ms $function;
  -moz-transition: $property #{$duration-in-ms}ms $function;
  -ms-transition: $property #{$duration-in-ms}ms $function;
  -o-transition: $property #{$duration-in-ms}ms $function;
  transition: $property #{$duration-in-ms}ms $function;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -webkit-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin perspective($x) {
  @include transform(perspective(#{$x}px));
}

@mixin grayscale_element($value) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  filter:#{"grayscale(#{$value})"};
}

@mixin animate-key-frame(
  $name,
  $duration: 1s,
  $delay: 0s,
  $timing: linear,
  $count: 1,
  $direction: normal
) {
  animation-name: $name;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-iteration-count: $count;
  animation-direction: $direction;
}

@mixin linear-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%,$to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

@function em($pixels, $context: $browser-context-rem) {
  @return #{$pixels/$context}em;
}

@function color-transparent($color, $transparency) {
  @return rgba($color, $transparency);
}

@function tint-color($color) {
  @return mix(white, $color, 30%);
}

@function shade-color($color) {
  @return mix(black, $color, 30%);
}
