.o-actionbar {
  position: fixed;
  top: 2rem;
  left: 0;

  &__item {
    padding: em(5px) em(10px);
    background-color: $c-color-primary;
    color: $c-color-neutral;
    width: em(60px);
    height: em(60px);
    @include box-shadow(2px, 5px, 10px, grey);
  }
  &__item:nth-child(n+2) {
    margin-top: 2px;
  }
  &__item:hover {
    background-color: $c-color-secondary;
    @include box-shadow(unset);
  }

}
